

.services {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.services h4 {
    font-size: 20px;
    font-weight: 400;
    color: #6d6e71;
    margin-top: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}
 
.cooperativas h4 {
    margin-bottom: 1px !important;
    margin-top: 5px !important;
    font-size: 16px;
    text-align: left;
    color: #fff;
}

.services h3 {
font-size: 20px;
font-weight: 400;
color: #6d6e71;
margin-top: 40px;
line-height: 30px;
}

.cooperativas h3 {
margin-top: 5px;
margin-bottom: 40px;
color: #fff;
}
